/* Light theme scrollbars */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) transparent;
}

/* WebKit/Blink browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 6px;
  border: 2px solid  transparent;
}
